{% load static %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<footer class="footer pt-80 pt-xs-60">
    <div class="container">
        <!--Footer Info -->
        <div class="row footer-info mb-60">
            <div class="col-lg-3 col-md-4 col-xs-12 mb-sm-30">
                <h4 class="mb-30">CONTACT Us</h4>
                <address>
                    <i class="ion-ios-location bi bi-geo-alt-fill text-warning"></i> DCBE ,DODOMA
                </address>
                <ul class="link-small">
                    <li>
                        <a href="mailto:business@support.com"><i class="ion-ios-email bi bi-envelope-fill text-warning" style="font-size:1rem;"></i>HouseCost@ai.com</a>
                    </li>
                    <li>
                        <a><i class="ion-ios-telephone bi bi-phone-vibrate-fill -geo-alt-fill text-warning" style="font-size:1rem;"></i>+255 681-112-406</a>
                    </li>
                </ul>
                <div class="icons-hover-black">
                    <a href="javascript:avoid(0);"> <i class="bi bi-facebook text-warning" style="font-size:1rem;"></i></a>
                    <a href="javascript:avoid(0);"> <i class="bi bi-twitter text-warning" style="font-size:1rem;"></i></a>
                    <a href="javascript:avoid(0);"> <i class="bi bi-youtube text-warning" style="font-size:1rem;"></i> </a>
                     <a href="javascript:avoid(0);"> <i class="bi bi-instagram text-warning" style="font-size:1rem;"></i></a>
                     <a href="javascript:avoid(0);"> <i class="bi bi-linkedin text-warning" style="font-size:1rem;"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12 mb-sm-30">
                <h4 class="mb-30">Links</h4>
                <ul class="link blog-link">
                    <li>
                        <a href="https://www.jiji.co.tz"  target="_blank" rel="noopener noreferrer"><i class="fas fa-angle-double-right"></i> jiji.co.tz </a>
                    </li>
                    <li>
                        <a href="https://www.ashubashop.com"  target="_blank" rel="noopener noreferrer"><i class="fas fa-angle-double-right"></i> ashubashop.com</a>
                    </li>
                    <li>
                        <a href="http://xteel.en.made-in-china.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-angle-double-right"></i> xteel.en.made-in-china.com</a>
                    </li>
                    
                    
                </ul>
            </div>
          
          
        </div>
        <!-- End Footer Info -->
    </div>
    <!-- Copyright Bar -->
    <div class="copyright">
        <div class="container">
            <p class="">
                <a href="https://www.templateshub.net" target="_blank" class="text-decoration-none" style="color: #e7880c;">Templates Hub</a>
            </p>
        </div>
    </div>
    <!-- End Copyright Bar -->
</footer>