{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BuildCost AI-Assistance</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
  
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>


    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/ionicons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/flaticon.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/animate.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'assets/css/jquery-ui.min.css' %}" type="text/css" rel="stylesheet">
    <!--Main Slider-->
    <link href="{% static 'assets/css/settings.css' %}" type="text/css" rel="stylesheet" media="screen">
    <link href="{% static 'assets/css/layers.css' %}" type="text/css" rel="stylesheet" media="screen">

    <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'assets/css/index.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'assets/css/header.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'assets/css/footer.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'assets/css/theme-color/default.css' %}" rel="stylesheet" type="text/css" id="theme-color" />
    
</head>
