{% extends 'layouts/admin-base.html' %}
{% block content %}
{% load static %}
<style>
	.card {
		border: none;
		border-radius: 10px;
		padding: 20px;
		margin: auto;
	}
	
	.card-header {
		border-radius: 10px 10px 0 0;
		padding: 10px;
		background-color: #6c757d;
	}
	
	.card-header h2 {
		margin: 0;
		font-size: 24px;
		color: #fff;
	}
	
	 .card-body {
		
		border-radius: 0 0 10px 10px;
		padding: 20px;
	}
	
	.form-control {
		border-radius: 5px;
		margin-bottom: 15px;
		background-color: #555;
		color: #fff;
		border: 1px solid #444;
	}
	
	.form-control::placeholder {
		color: #bbb;
	}
	
	.form-control:focus {
		background-color: #666;
		color: #fff;
		border-color: #007bff;
	}
	
	.button {
		background-color: #d18719;
		border-color: #007bff;
		padding: 10px 20px;
		color: #fff;
		text-align: center;
		cursor: pointer;
		border-radius: 5px;
		text-decoration: none;
		display: inline-block;
	}
	
	.btn-primary:hover {
		background-color: #0056b3;
		border-color: #0056b3;
	}
	label{
		color: #fff;
	}
	th{
		color:black;
	}
</style>


<div class="pt-90 pt-xs-50">
    <div class="card bg-dark text-black">
        <div class="card-header bg-secondary text-center">
            <h2>List Of Transactions</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
    
             <table class="table" id="userTable"  border="1">
               <thead>
                <tr>
                <th style="color:black;">S/N</th>
				<th style="color:black;">Name</th>
				<th style="color:black;">HouseMap</th>
                <th style="color:black;">Quality of Construction</th>
                <th style="color:black;">Type of Structure</th>
                <th style="color:black;">Construction Material</th>
                <th style="color:black;">Location</th>
                <th style="color:black;">Location Nature</th>
                <th style="color:black;">Construction Period</th>
                <th style="color:black;">Price Predicted</th>
               </tr>
              </thead>
               <tbody>
              {% for house in houses %}
                <tr>
                    <td>{{ forloop.counter }}</td>
					<td>{{ house.user.name }}</td>
					<td>
						<button type="button" class="btn btn-info btn-sm view-house" data-id="{{ house.id }}" data-type="image" >HouseMap</button>  
					</td>
                    <td>{{ house.quality_of_construction }}</td>
                    <td>{{ house.type_of_structure }}</td>
                    <td>{{ house.construction_material }}</td>
                    <td>{{ house.location_of_house }}</td>
                    <td>{{ house.location_nature }}</td>
                    <td>{{ house.construction_period }}</td>
                   	<td>
						<button type="button" class="btn btn-primary btn-sm view-house" data-id="{{ house.id }}" data-type="ai">Constrution summary</button>  
					</td>
                </tr>
               {% endfor %}
              </tbody>
          </table>
        </div>
      
    </div>
    </div>
</div>


 									<!-- construction summary modal -->
                            <!-- MODAL -->
                                <div class="modal fade"  id="aiModal" tabindex="-1"  role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <!-- HEADER -->
                                            <div class="modal-header">
                                                <h5 class="modal-title">
                                                    History of House Preferences
                                                </h5>
                                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <!-- BODY -->
                                            <div class="modal-body">
                                                <div style=" border:1px solid #ddd; padding:20px; border-radius:10px; background:#f8f9fa; max-height:500px; overflow-y:auto; ">
                                                        <pre id="aiResultText" style=" white-space: pre-wrap; font-size:14px; line-height:1.8; color:#333; "></pre>
                                                </div>
                                            </div>
                                            <!-- FOOTER -->
                                            <div class="modal-footer">
                                                <button type="button"
                                                        class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

								<!-- view image modal -->					
								<!-- MODAL -->
								<div class="modal fade"  id="imageModal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog modal-xl" role="document">
										<div class="modal-content">
											<!-- HEADER -->
											<div class="modal-header">
												<h5 class="modal-title">
													Uploaded House Map
												</h5>
												<button type="button" class="close"  data-bs-dismiss="modal">
													<span>&times;</span>
												</button>
											</div>
											<!-- BODY -->
											<div class="modal-body text-center">
												<img id="houseImage" class="img-fluid rounded shadow" style="  max-height:80vh;  width:auto;">
											</div>
											<!-- FOOTER -->
											<div class="modal-footer">
												<button type="button"
														class="btn btn-secondary"
														data-bs-dismiss="modal">
													Close
												</button>
											</div>
										</div>
									</div>
								</div>


{% endblock %}
