{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
		
			<div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34">
				<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
				<div id="rev_slider_34_1" class="rev_slider" data-version="5.0.7">
					<ul>
						<!-- SLIDE  -->
						<li data-index="rs-129">
							<!-- MAIN IMAGE -->
							<img src="{% static 'assets/images/banner/banner_1.jpg' %}"  alt=""  class="rev-slidebg" >
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption Newspaper-Title tp-resizeme"
							id="slide-129-layer-1"
							data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
							data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
							data-fontsize="['50','50','50','30']"
							data-lineheight="['55','55','55','35']"
							data-width="['600','600','600','420']"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
							data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-mask_out="x:0;y:0;s:inherit;e:inherit;"
							data-start="1000"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on" >
								<div class="banner-text">
									<span>It's an Amazing Services!</span>
									<h2>Welcome to House Cost <span>prediction System</span></h2>

									<p>
										We give the Best and Quality House of your own requirements Features and Cost.
									</p>
									<a class="btn-text" href="{% url "login" %}">Login</a>
								</div>
							</div>

						</li>
						<!-- SLIDE  -->
						<li data-index="rs-130"   data-title="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="{% static 'assets/images/banner/banner_2.jpg' %}"  alt=""  class="rev-slidebg" >
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption Newspaper-Title tp-resizeme"
							id="slide-129-layer-2"
							data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
							data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
							data-fontsize="['50','50','50','30']"
							data-lineheight="['55','55','55','35']"
							data-width="['600','600','600','420']"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
							data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-mask_out="x:0;y:0;s:inherit;e:inherit;"
							data-start="1000"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on" >
								<div class="banner-text">
									<span>It's an Amazing Services!</span>
									<h2>Welcome to House Cost <span>prediction System</span></h2>

									<p>
										We give the Best and Quality House of your own requirements Features and Cost.
									</p>
									<a class="btn-text" href="{% url "login" %}">Login</a>
								</div>
							</div>

						</li>
						<!-- SLIDE  -->
						<li data-index="rs-131">
							<!-- MAIN IMAGE -->
							<img src="{% static 'assets/images/banner/banner_3.jpg' %}"  alt=""  class="rev-slidebg" >
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption Newspaper-Title tp-resizeme"
							id="slide-129-layer-3"
							data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
							data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
							data-fontsize="['50','50','50','30']"
							data-lineheight="['55','55','55','35']"
							data-width="['600','600','600','420']"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
							data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-mask_out="x:0;y:0;s:inherit;e:inherit;"
							data-start="1000"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on" >
								<div class="banner-text">
									<span>It's an Amazing Services!</span>
									<h2>Welcome to House Cost <span>prediction System</span></h2>

									<p>
										We give the Best and Quality House of your own requirements Features and Cost.
									</p>
									<a class="btn-text" href="{% url "login" %}">Login</a>
								</div>
							</div>
						</li>
						<!-- SLIDE  -->
					</ul>
					<div class="tp-bannertimer tp-bottom"></div>
				</div>
			</div>
		</div>
		<!--  Main Banner End Here-->

		<!--About-->
		<!--About Us-->

		<!-- OUR_Service -->
		
		<!-- OUR_Service END-->

		<!--Quick Quote Section start-->
				<!--Quick Quote Section end-->

		<!-- Team Section -->
				<!--End Team Carousel -->
			</div>
		</section>
		<!-- End Team Section -->

		<!-- Project_Section -->
		
		<!-- Project_Section_End-->

		<!-- Counter Section -->
		<div class="fact-counter-wrapper padding ptb-xs-40">
			<div class="container text-center">
				<div class="row">
					<div class="col-lg-3 col-md-6 mb-sm-30 mb-xs-30">
						<div class="single-fact">
							<div class="icon-boxed">
								<i class="ion-ios-list"></i>
							</div>
							<span class="counter" data-count="3562">0</span>
							<p>
								Total Projects
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mb-sm-30 mb-xs-30">
						<div class="single-fact">
							<div class="icon-boxed">
								<i class="ion-happy"></i>
							</div>
							<span class="counter" data-count="1054">0</span>
							<p>
								Happy Clients
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mb-xs-30">
						<div class="single-fact">
							<div class="icon-boxed">
								<i class="ion-person-stalker"></i>
							</div>
							<span class="counter" data-count="400">0</span>
							<p>
								Active Member
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-fact">
							<div class="icon-boxed">
								<i class="ion-trophy"></i>
							</div>
							<span class="counter" data-count="67">0</span>
							<p>
								Won Award
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Counter Section End-->

		<!--Testimonial Section Start-->
		<!--Testimonial Section End-->

		<!-- Blog -->
				{% endblock %}
