		
{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
	
		<!-- Intro Section -->
 <section class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
      <div class="row title">
      	<div class="title_row">
      		<h1 data-title="Login"><span>Login</span></h1>
      		<div class="page-breadcrumb">
							<a>Home</a>/ <span>Login</span>
						</div>
      		
      	</div>
        
      </div>
    </div>
  </section>
 <!-- Intro Section End-->

  <!-- Login Section -->
  <div id="login" class="ptb ptb-xs-40 page-signin">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        	<div class="main-body">
        	  <div class="body-inner">
        	    <div class="card bg-white">
        	      <div class="card-content">
					<div class="message-section {% if messages %}{% if messages.tags == 'success' %}success{% endif %}{% endif %}" style="{% if messages %}display: block;{% else %}display: none;{% endif %}">
						{% if messages %}
							<ul class="messages">
								{% for message in messages %}
									<li class="message {% if message.tags %} {{ message.tags }} {% endif %}">{{ message }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
        	        <section class="logo text-center">
        	          <h2>Login</h2>
        	        </section>
					<form class="form-horizontal" method="post" action="{% url 'login' %}">
						{% csrf_token %}
						<fieldset>
							<div class="form-group">
								<div class="ui-input-group">
									<input type="email" required class="form-control" name="email">
									<span class="input-bar"></span>
									<label>Email</label>
								</div>
							</div>
							<div class="form-group">
								<div class="ui-input-group">
									<input type="password" required class="form-control" name="password">
									<span class="input-bar"></span>
									<label>Password</label>
								</div>
							</div>
						</fieldset>
						<button type="submit" class="btn-text">Login</button>
					</form>
					   
				</div>
        	      <div class="card-action no-border text-right"> <a href="{% url 'register'  %}" class="color-primary">NOT REGISTERED?</a> </div>
        	    </div>
        	    <div class="additional-info"> <a href="{% url 'register'  %}">Register</a><span class="divider-h"></span><a href="#/page/forgot-password"></a> </div>
        	  </div>
        	</div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Login Section --> 
  {% endblock %}
