		
{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}

		<!-- Intro Section -->
 <section class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
      <div class="row title">
      	<div class="title_row">
      		<h1 data-title="Register"><span>Register</span></h1>
      		<div class="page-breadcrumb">
							<a>Home</a>/ <span>Register</span>
						</div>
      		
      	</div>
        
      </div>
    </div>
  </section>
 <!-- Intro Section End-->
 
  <!-- Login Section -->
  <div id="login" class="ptb ptb-xs-40 page-signin">
    <div class="container">
      <div class="row">
      	<div class="col-sm-12">
        <div class="main-body">
          <div class="body-inner">
            <div class="card bg-white">
              <div class="card-content">
				<div class="message-section {% if messages %}{% if messages.tags == 'success' %}success{% endif %}{% endif %}" style="{% if messages %}display: block;{% else %}display: none;{% endif %}">
					{% if messages %}
						<ul class="messages">
							{% for message in messages %}
								<li class="message {% if message.tags %} {{ message.tags }} {% endif %}">{{ message }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
                <section class="logo text-center">
                  <h2>Register</h2>
                </section>
				<form class="form-horizontal" id="register-form" method="POST" action="{% url 'register' %}">
					{% csrf_token %}
					<fieldset>
					  <div class="form-group">
						<div class="ui-input-group">
						  <input type="text" required class="form-control" name="name">
						  <span class="input-bar"></span>
						  <label>Your Name</label>
						</div>
					  </div>
					  <div class="form-group">
						<div class="ui-input-group">
						  <input type="email" required class="form-control" name="email">
						  <span class="input-bar"></span>
						  <label>Your Email</label>
						</div>
					  </div>
					  <div class="form-group">
						<div class="ui-input-group">
						  <input type="password" required class="form-control" name="password">
						  <span class="input-bar"></span>
						  <label>Your Password</label>
						</div>
					  </div>
					  <div class="form-group">
						<div class="ui-input-group">
						  <input type="password" required class="form-control" name="password_confirm">
						  <span class="input-bar"></span>
						  <label>Confirm Password</label>
						</div>
					  </div>
					  
					  <div class="spacer"></div>
					  <div class="form-group checkbox-field">
						<label for="check_box" class="text-small">
						  <input type="checkbox" id="check_box">
						  <span class="ion-ios-checkmark-empty22 custom-check"></span> By clicking on sign up, you agree to <a href="javascript:;"><i>terms</i></a> and <a href="javascript:;"><i>privacy policy</i></a></label>
					  </div>
					  <button type="submit" class="btn-text">Sign Up</button>
					</fieldset>
				  </form>
				  
				 
              </div>
			  <div class="card-action no-border text-right"> <a href="{% url 'login'  %}" class="color-primary">Already Registered?</a> </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!-- End Login Section -->  
  
   {% endblock %}